.App {
  text-align: center;
}

.Home {
  color: #e65400;
  font-family: "Raleway",Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: chalky;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    letter-spacing: .34px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    color: #5fc3b1;
}
